<nav>
    <div class="navContent-wrapper">
        <div>
            <a class="name" href="#top">Sascha</a>
        </div>
        <div class="link-wrapper" [class.menuOpen]="burgerMenuOpen">
            <a href="#about" (click)="clickLink(1)">
                <div [ngStyle]="activLink === 1 ? { color: '#70e61c' } : null">
                    About me
                    <div [style.visibility]="(activLink == 1) ? 'visible':'hidden'" class="vector"></div>
                </div>
            </a>

            <a href="#skills" (click)="clickLink(2)">
                <div [ngStyle]="activLink === 2 ? { color: '#70e61c' } : null">
                    Skills
                    <div [style.visibility]="(activLink == 2) ? 'visible':'hidden'" class="vector"></div>
                </div>
            </a>

            <a href="#portfolio" (click)="clickLink(3)">
                <div [ngStyle]="activLink === 3 ? { color: '#70e61c' } : null">
                    Portfolio
                    <div [style.visibility]="(activLink == 3) ? 'visible':'hidden'" class="vector"></div>
                </div>
            </a>

            <a href="#contact" (click)="clickLink(4)">
                <div [ngStyle]="activLink === 4 ? { color: '#70e61c' } : null">
                    Contact
                    <div [style.visibility]="(activLink == 4) ? 'visible':'hidden'" class="vector"></div>
                </div>
            </a>
        </div>
        <div class="link-button" (click)="clickBurgerMenu()" [class.burgerMenuOpen]="burgerMenuOpen"></div>
    </div>

</nav>