<div class="atf">
    <div>
        <div>
            <img src="../../../assets/img/29. photo shadows.svg" alt="">
            <img src="../../../assets/img/picture01_cut_small.png" alt="">
            <img class="atf-curve" src="../../assets/img/Vector.svg" alt="">
        </div>

        <div>
            <div> {{getText(6)}} </div>
            <img src="../../../assets/img/arrow.svg" alt="">
        </div>
        <div>
            <div></div>
            <div>
                <a href="https://github.com/Siegert-S" target="_blank" rel="noopener noreferrer">
                    <img src="../../../assets/img/github.svg" alt=""></a>

                <a [href]="'mailto:' + getText(4) + getText(5)">
                    <img src="../../../assets/img/email.svg" alt="">
                </a>

                <a href="https://www.linkedin.com/in/sascha-siegert-092822350" target="_blank"
                    rel="noopener noreferrer">
                    <img src="../../../assets/img/linkedin.svg" alt=""></a>

                <a href="#contact">{{getText(4)}}</a>

            </div>
        </div>
        <div>
            <!-- <div>
                <div> {{getText('headline1')}} </div>
                <div>
                    <div>{{getText('headline2')}}</div>
                    <div>{{getText('headline3')}}</div>
                </div>
            </div> -->
            <div>
                <div>I am</div>
                <div>
                    <div>Sascha Siegert</div>
                    <div>FRONTEND DEVELOPER</div>
                </div>
            </div>
            <button (click)="scrollToContact()"> {{getText(3)}} </button>
        </div>
    </div>
</div>