<div class="atf">
    <div>
        <div>
            <img src="../../../assets/img/29. photo shadows.svg" alt="">
            <img src="../../../assets/img/picture01_cut_small.png" alt="">
            <img class="atf-curve" src="../../assets/img/Vector.svg" alt="">
        </div>

        <div>
            <div> {{hint}} </div>
            <img src="../../../assets/img/arrow.svg" alt="">
        </div>
        <div>
            <div></div>
            <div>
                <a href="https://github.com/Siegert-S" target="_blank" rel="noopener noreferrer">
                    <img src="../../../assets/img/github.svg" alt=""></a>

                <a [href]="'mailto:' + email + subject"><img src="../../../assets/img/email.svg" alt=""></a>

                <a href="https://www.linkedin.com/in/sascha-siegert-092822350" target="_blank"
                    rel="noopener noreferrer">
                    <img src="../../../assets/img/linkedin.svg" alt=""></a>

                <a href="#contact">{{email}}</a>

            </div>
        </div>
        <div>
            <div>
                <div> {{head1}} </div>
                <div>
                    <div>{{head2}}</div>
                    <div>{{head3}}</div>
                </div>
            </div>
            <button (click)="scrollToContact()"> {{bnt}} </button>
        </div>
    </div>
</div>