* {
    font-size: var(--fontSize8);
}

.contact-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    overflow-y: hidden;
    padding-bottom: 20px;
}

.titel-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.titel-line {
    border: 2px solid var(--primaryColor);
    border-radius: 0 2px 2px 0;
    height: 0;
    width: 33%;
    margin-right: 25px;
}

.titel {
    font-size: var(--fontSize1);
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
}

.spacer {
    width: 33%;
}

.text-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 7% 0 7%;
}

.haedline {
    display: flex;
    flex-direction: column;
    max-width: 474px;
    width: 95%;
    gap: 24px;

    >p {
        margin: 0;
        padding: 0;
        font-size: var(--fontSize5);
        font-weight: 700;
    }
}

.text-frame {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

.scroll-up-bnt {
    width: 39px;
    height: 39px;
    margin-top: 50px;
    margin-right: 7%;
    background-image: url('../../../../assets/img/go_up_arrow.svg');

    &:hover {
        background-image: url('../../../../assets/img/go_up_arrow_hover.svg');
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    max-width: 617px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.form-div {
    width: 100%;
}

.user-response {
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: -8px;
    width: calc(100% + 16px) !important;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
    border-radius: 10px;
    border: 4px solid var(--secondayrColor);
    color: var(--secondayrColor);
    font-size: var(--fontSize6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.failure {
    border-color: var(--errorColor);
    color: var(--errorColor);
}

.field-style {
    background-color: var(--bgColor);
    border: 1px solid var(--primaryColor);
    border-radius: 10px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 617px;
    width: 100%;

    &:hover,
    &:focus-within {
        border-color: var(--secondayrColor);
    }

    textarea,
    input {
        border: none;
        background-color: var(--bgColor);
        outline: none;
        width: 100%;
        font-family: 'Poppins';
        min-height: 26px;
    }

    &:has(textarea) {
        resize: vertical;
        overflow: auto;
        align-items: flex-start;
    }

    textarea {
        resize: none;
        min-height: 202px;
    }
}

.invalid {
    border-color: var(--errorColor);
}

.valid {
    border-color: var(--secondayrColor);
}

.error-message {
    color: var(--errorColor);
    font-size: var(--fontSize9);
    height: calc(var(--fontSize9) * 1.2);
}

.submit-btn-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    height: 65px;
}

::-webkit-resizer {
    background-image: url('../../../../assets/img/resize_grabber.svg');
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 16px;
    cursor: pointer;

    input {
        display: none;
    }

    div {
        aspect-ratio: 1/1;
        height: 24px;
        background-repeat: no-repeat;
        object-fit: contain;
        background-position: center;
        border-radius: 8px;
        margin-right: 8px;
        background-image: url('../../../../assets/img/check_box_blank.svg');
        transition: all ease-in-out 100ms;
    }

    input:hover+div,
    input:checked:hover+div {
        background-color: var(--checkmarkHoverColor);
    }

    >input:checked+div {
        background-image: url('../../../../assets/img/check_box_checked.svg');
    }

    >span {
        font-size: var(--fontSize9);

        >a {
            font-size: var(--fontSize9);
            text-decoration: none;
            color: var(--secondayrColor);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

input[type="submit"] {
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    width: 253px;
    height: 58px;
    font-size: var(--fontSize7);
    cursor: pointer;
    transition: all ease-in-out 125ms;

    &.enable {
        background-color: var(--secondayrColor);

        &:hover {
            background-color: var(--primaryColor);
            width: 263px;
            height: 68px;
        }

        &:active {
            background-color: white;
            color: black;
        }
    }

    &.disable {
        background-color: var(--disableColor);
        cursor: not-allowed;

        &:hover {
            background-color: var(--disableColor);
        }
    }
}

@media (max-width: 1299px) {
    .text-wrapper {
        flex-direction: column;
        align-items: center;

        >:nth-child(1) {
            margin-bottom: 24px;
        }
    }
}