:host {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    // background-color: aqua;

    // img:nth-child(2) {
    //     width: 572px;
    //     height: 608px;
    //     position: absolute;
    //     right: 0;
    //     top: 750px;
    // }

    // img:nth-child(3) {
    //     width: 430px;
    //     height: 950px;
    //     position: absolute;
    //     left: 0;
    //     top: 2980px;
    //     visibility: hidden;

    // }

    // img:nth-child(4) {
    //     width: 640px;
    //     height: 750px;
    //     position: absolute;
    //     // right: 0;
    //     top: 3350px;
    //     visibility: hidden;
    // }

    // img:nth-child(5) {
    //     width: 430px;
    //     height: 950px;
    //     position: absolute;
    //     right: 0;
    //     top: 4490px;
    //     z-index: 0;
    // }

    // img:nth-child(6) {
    //     width: 750px;
    //     height: 900px;
    //     position: absolute;
    //     // right: 0;
    //     top: 6450px;
    //     z-index: 0;
    // }
}

.shadow-about {
    position: absolute;
    z-index: 1;
    top: 15%;
    right: -360px;
}

.shadow-skills {
    position: absolute;
    z-index: 1;
    top: 34%;
    left: -560px;
    // right: -360px;
}

.shadow-portfolio {
    position: absolute;
    z-index: 1;
    top: 60%;
    left: -390px;

}

.shadow-portfolio-right {
    position: absolute;
    z-index: 1;
    top: 70%;
    right: -510px;
    rotate: 180deg;

}

.shadow-contact {
    position: absolute;
    z-index: 1;
    // top: 57%;
    left: -500px;
    bottom: -4%;

}