<div class="about-wrapper" data-aos="fade-up">
    <div class="text-wrapper">
        <h2>{{getText('title')}}</h2>
        <div>
            <span> {{getText(0)}} </span>
            <div>
                <div class="key-points">
                    <div><img src="../../../assets/img/location_green.svg" alt=""></div>
                    <div> {{getText(1)}} </div>
                </div>
                <div class="key-points">
                    <div><img src="../../../assets/img/lightbulb_green.svg" alt=""></div>
                    <div> {{getText(2)}} </div>
                </div>
                <div class="key-points">
                    <div><img src="../../../assets/img/puzzel_green.svg" alt=""></div>
                    <div> {{getText(3)}} </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div> -->
        <div class="foto-warpper">
            <img src="../../../assets/img/picture02_with_bg.jpg" alt="">
            <div class="vector"></div>
        </div>
        
    <!-- </div> -->

</div>