<div id="contact" class="contact-wrapper">
    <div>
        <div class="titel-line"></div>
        <h2 class="titel">{{title}}</h2>
        <div class="spacer"></div>
    </div>
    <div>
        <div class="haedline">
            <p>{{contactHeading}}</p>
            <div class="text-frame">
                <span>{{contactIntro}}</span>
                <span>{{contactCTA}}</span>
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            @if (response && isSuccsesfull) { <div (click)="responsToUser()" class="user-response"> {{succses}} </div>}
            @if (response && !isSuccsesfull) { <div (click)="responsToUser()" class="user-response failure"> {{failure}} </div>}
            <div>
                <label class="field-style" [class.invalid]="invalidityCheck('name')"
                    [class.valid]="validityCheck('name')">
                    <input formControlName="name" type="text" required placeholder="{{namePlaceholder}}">
                    @if (invalidityCheck('name')) { <img src="../../../assets/img/warning.svg" alt=""> }
                    @if (validityCheck('name')) { <img src="../../../assets/img/confirm.svg" alt=""> }
                </label>
                @if (invalidityCheck('name')) {<span class="error-message">{{nameError}}</span>}

            </div>
            <div>
                <label class="field-style" [class.invalid]="invalidityCheck('email')"
                    [class.valid]="validityCheck('email')">
                    <input formControlName="email" type="email" required placeholder="{{emailPlaceholder}}">
                    @if (invalidityCheck('email')) { <img src="../../../assets/img/warning.svg" alt=""> }
                    @if (validityCheck('email')) { <img src="../../../assets/img/confirm.svg" alt=""> }
                </label>
                @if (invalidityCheck('email')) {<span class="error-message">{{emailError}}</span>}
            </div>
            <div>
                <div>
                    <label class="field-style" [class.invalid]="invalidityCheck('message')"
                        [class.valid]="validityCheck('message')">
                        <textarea formControlName="message" placeholder="{{messagePlaceholder}}"></textarea>
                        @if (invalidityCheck('message')) { <img src="../../../assets/img/warning.svg" alt=""> }
                        @if (validityCheck('message')) { <img src="../../../assets/img/confirm.svg" alt=""> }
                    </label>
                    @if (invalidityCheck('message')) {<span class="error-message">{{messageError}}</span>}
                </div>
                <div>
                    <div>
                        <label class="checkbox-wrapper">
                            <input formControlName="privacy" type="checkbox">
                            <div></div>
                            <span>
                                {{priPolicyFront}} <a href="http://xn--datenschutzerklrung-uwb.saschasiegert.de/"
                                    target="_blank" rel="noopener noreferrer">
                                    {{priPolicy}}</a> {{priPolicyBack}}
                            </span>
                        </label>
                        @if (form.get('privacy')?.invalid && (form.get('privacy')?.dirty || submitAttempt)) {<span
                            class="error-message">{{priPolicyError}}</span>}
                    </div>
                    <div class="submit-btn-frame">
                        <input type="submit" [ngClass]="(form.valid) ? 'enable':'disable'" value="{{bnt}}">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div>
        <a class="scroll-up-bnt" href="#top"></a>
    </div>
    <div class="shadow-contact"><img src="../../assets/img/33. Purple shadow Footer.svg" alt=""></div>
</div>