.about-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 15vh;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    width: 471px;
    margin-left: 7%;

    h2 {
        font-size: var(--fontSize1);
        font-weight: 700;
        margin: 0;
    }

    >div {
        font-size: var(--fontSize8);
        font-weight: 400;

        >div {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-top: 32px;
        }
    }
}

.foto-warpper {
    width: 30%;
    aspect-ratio: 1/1;
    margin-left: 10%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 4px solid var(--secondayrColor);
        border-radius: 50%;
        box-sizing: border-box;
    }
}

.vector {
    width: 18.5%;
    border: 2px solid var(--secondayrColor);
}

.key-points {
    display: flex;
    width: 100%;

    div:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        box-sizing: border-box;
        margin-right: 16px;
        flex-shrink: 0;

        img {
            height: 32px;
            object-fit: contain;

            &:hover {
                height: 48px;
            }
        }
    }
}

@media (max-width:1100px) {
    .about-wrapper {
        justify-content: center;
    }

    .text-wrapper {
        width: 80vw;
        margin: 0;
    }

    .foto-warpper {
        display: none;
    }

    .vector {
        display: none;
    }
}