<div id="top" class="atf">
    <div>
        <div>
            <img src="../../../assets/img/29. photo shadows.svg" alt="">
            <img src="../../../assets/img/picture01_cut_small.png" alt="">
            <img class="atf-curve" src="../../assets/img/Vector.svg" alt="">
        </div>

        <div>
            <div>scroll down</div>
            <img src="../../../assets/img/arrow.svg" alt="">
        </div>
        <div>
            <div></div>
            <div>
                <a href="https://github.com/Siegert-S" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/github.svg" alt=""></a>
                <a href=""><img src="../../../assets/img/email.svg" alt=""></a>
                <a href=""><img src="../../../assets/img/linkedin.svg" alt=""></a>

                <a href="#contact">{{email}}</a>

            </div>
        </div>
        <div>
            <div>
                <div>I am</div>
                <div>
                    <div>Sascha Siegert</div>
                    <div>FRONTEND DEVELOPER</div>
                </div>
            </div>
            <button (click)="scrollToContact()">Let's talk!</button>
        </div>

    </div>
</div>