.skills-wrapper {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    box-sizing: border-box;
    // padding-top: 15vh;
    width: 100%;
    column-gap: 7%;
    z-index: 2;

    >:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / span 2;
        display: grid;
        margin-left: 7%;
        grid-template-columns: repeat(4, 88px);
        gap: 40px 88px;

        @media (max-width: 380px) {
            gap: 40px 59px !important;
        }
    }

    >:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 40px;
        width: 100%;
    }

    >:nth-child(3) {
        grid-column: 2;
        grid-row: 2;
        width: 510px;
        display: flex;
        flex-direction: column;
        padding-top: 24px;
    }
}

.titel {
    justify-self: end;
    display: flex;
    align-items: center;
    height: calc(var(--fontSize1) * 1.2);

    h2 {
        font-size: var(--fontSize1);
        font-weight: 700;
        text-align: end;
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

    div {
        width: 68px;
        height: 0;
        border: 2px solid var(--primaryColor);
        border-radius: 2px 0 0 2px;
        margin-left: 32px;
    }
}

.titel-text {
    text-align: end;

    span {
        display: block;
        width: 510px;
        font-size: var(--fontSize8);
    }
}

.highlight-text {
    display: grid;
    justify-self: end;
    text-align: end;

    :first-child {
        font-size: var(--fontSize5);
        font-weight: 700;
        margin-bottom: 16px;

        :first-child {
            @media (max-width: 380px) {
                &::before {
                    content: '\A';
                    white-space: pre-line;
                }
            }
        }
    }
}

.contact-bnt {
    justify-self: center;
    align-self: center;
}

.bnt-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondayrColor);
    width: 165px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: var(--fontSize7);
    text-align: center;
    text-decoration: none;
    justify-self: end;
    margin-top: 20px;
    transition: all ease-in-out 100ms;

    &:hover {
        background-color: var(--primaryColor);
        height: 70px;
        width: 175px;
        margin-top: 15px;
    }

    &:active {
        background-color: white;
        color: var(--secondayrColor);
    }
}

@media (max-width: 1299px) {
    .skills-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 20px;

        >:nth-child(1) {
            grid-column: 1;
            grid-row: 2;
            justify-self: center;
            max-width: 616px;
            width: 100%;
            min-width: 88px;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, 88px);
            gap: 40px 88px;
            margin-left: 0px;
        }

        >:nth-child(2) {
            grid-column: 1;
            grid-row: 1;
        }

        >:nth-child(3) {
            grid-column: 1;
            grid-row: 3;
            justify-self: center;
            width: 80%;
            height: 210px;
        }
    }

    .titel-text {
        justify-self: center;
        display: flex;
        justify-content: center;

        span {
            width: 55%;
            text-align: center;
        }
    }

    .highlight-text {
        justify-self: center;
        text-align: center;
    }
}