<div class="layout-wrapper">
    <div class="shadow about"><img src="../../../assets/img/30. Purple shadow about me.svg" alt=""></div>
    <div class="shadow skills"><img src="../../assets/img/31. Green shadow Skills Portfolio.svg" alt=""></div>
    <div class="shadow portfolio"><img src="../../assets/img/32 Purple shadow portfolio.svg" alt=""></div>
    <div class="shadow portfolio-right"><img src="../../assets/img/31. Green shadow Skills Portfolio.svg" alt=""></div>
    <app-nav-bar></app-nav-bar>
    <router-outlet> </router-outlet>
    <app-footer></app-footer>
</div>