.policy-wrapper {
    margin-top: 10vh;
    // background-color: darkcyan;
    padding-left: 5vw;
    padding-right: 5vw;
    position: relative;
    z-index: 1;
}

h2{
    border-bottom: 4px solid var(--primaryColor);
}

strong {
    font-weight: 700;
}

.m-elements {
    background-color: rebeccapurple;
}

.highlight {
    background-color: brown;
}

.index {
    background-color: aquamarine;
}

.index-link {
    background-color: beige;
}

.glossary {
    background-color: burlywood;
}

.seal {
    background-color: skyblue;
}