.policy-wrapper{
    margin-top: 10vh;
    // background-color: darkcyan;
    padding-left: 5vw;
    padding-right: 5vw;
    position: relative;
    z-index: 1;
}

strong{
    font-weight: 700;
}

.m-elements{
    background-color: rebeccapurple;
}