<div class="footer-wrapper">
    <div>
        <span>Sascha</span>
        <div>
            <a href="">Legal Notice</a>
            <div class="vektor"></div>
        </div>
    </div>
    <div>
        © Sascha Siegert 2025
    </div>
    <div>
        <a href=""><img src="../../../assets/img/github.svg" alt=""></a>
        <a href=""><img src="../../../assets/img/email.svg" alt=""></a>
        <a href=""><img src="../../../assets/img/linkedin.svg" alt=""></a>
    </div>    
    <div>
        <a href="">Legal Notice</a>
        <div class="vektor"></div>
    </div>
</div>