:host {
    flex-grow: 1;
}

.legal-wrapper {
    position: relative;
    z-index: 1;
    margin-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 5vh;
    max-width: 1440px;
    height: 100%;
}