<div class="legal-wrapper">
    <h1>{{getText('title')}}</h1>
    <p>{{getText('law')}}</p>
    <p>Sascha Siegert <br>
        Ravensberger Weg 11<br>
        53840 Troisdorf <br>
    </p>
    <p> <strong>{{getText('represented')}}:</strong><br>
        Sascha Siegert<br>
    </p>
    <p><strong>{{getText('contact')}}:</strong> <br>
        Telefon: 01573-8787093<br>
        E-Mail: <a href="mailto:{{email}}"> {{email}} </a><br></p>
    <p><strong>{{getText('headline1')}}: </strong><br><br><strong>{{getText('headline2')}}</strong><br><br>
        {{getText('introText')}}
    </p><br>
    {{getText('providerFront')}}
    <a href="https://www.impressum-generator.de">impressum-generator.de</a>
    {{getText('providerBack')}}
    <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow">{{getText('kanzlei')}} Hasselbach</a>
</div>